<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <meta http-equiv="refresh" content="2;url=/" />
        <title>Error</title>
    </head>
    <body>
        <div class="content">
            <h1>Error</h1>
            <h2>{{ error }}</h2>
        </div>
    </body>
</html>
