<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>Wishlists</title>
    </head>
    <body>
        <div class="header">
            <div class="button logout">
                <a class="button" href="/logout">Logout ({{ user }})</a>
            </div>
        </div>
        <br/>
        <table>
            <col>
            <col width="30px">
            <tr>
                <th colspan="2">My Wishlists</th>
            </tr>
            {% for list in wishlists -%}
            <tr>
                <td>
                    <a href="/list/{{ list.0 }}">{{ list.1.name }}</a>
                </td>
                <td>
                    <a href="/remove_list/{{ list.0 }}">X</a>
                </td>
            </tr>
            {%- endfor %}
        </table>
        <table>
            <tr>
                <td><b>Add</b></td>
                <td>
                    <form action="/add_list" method="post">
                        <input type="text" name="name">
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
