<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>{{ list.name }}</title>
    </head>
    <body>
        <div class="header">
            <div class="button back">
                <a class="button" href="/">Back</a>
            </div>
            <div class="button logout">
                <a class="button" href="/logout">Logout ({{ user }})</a>
            </div>
        </div>
        <br/>
        <table>
            <tr>
                {% if list.user == user -%}
                <th colspan="2">Name</th>
                {%- else -%}
                <th>Name</th>
                <th>Bought By</th>
                {%- endif %}
            </tr>
            {% for i in list.items -%}
            <tr>
                {% if list.user == user -%}
                <td>{{ i.1.name }}</td>
                <td>
                    <a href="/list/{{ id }}/remove/{{ i.0 }}">X</a>
                </td>
                {%- else -%}
                    {% match i.1.bought_by -%}
                        {%- when Some with (s) -%}
                    <td>
                        <a href="/list/{{ id }}/unbuy/{{ i.0 }}">{{ i.1.name }}</a>
                    </td>
                    <td>
                        {{ s }}
                    </td>
                        {%- when None -%}
                    <td>
                        <a href="/list/{{ id }}/buy/{{ i.0 }}">{{ i.1.name }}</a>
                    </td>
                    <td></td>
                    {%- endmatch -%}
                {%- endif %}
            </tr>
            {%- endfor %}
        </table>
        {% if list.user == user -%}
        <table>
            <tr>
                <td><b>Add</b></td>
                <td>
                    <form action="/list/{{ id }}/add" method="post">
                        <input type="text" name="name">
                    </form>
                </td>
            </tr>
        </table>
        {%- endif %}
    </body>
</html>
