<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>Login</title>
    </head>
    <body>
        <div class="header"></div>
        <br/>
        <form action="login" method="post" accept-charset="utf-8">
            <table>
                <tr>
                    <th colspan="2">
                        Login
                    </th>
                </tr>
                <tr>
                    <td>
                        <label for="user">Username:</label>
                    </td>
                    <td>
                        <input type="text" placeholder="username" name="user" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password" placeholder="password" name="password" required />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% match referer -%}
                            {%- when Some with (r) -%}
                        <input type="hidden" name="referer" value="{{ r }}" />
                            {%- when None -%}
                        {%- endmatch %}
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
